.emptyResourceList {
  padding: 0 30px;
  margin-top: 36px;
  text-align: center;

  .emptyResourceList-message {
    color: #999;
    font-size: 17px;
    margin-bottom: 10px;
  }

  .emptyResourceList-explanation {
    color: #aaa;
  }
}
