.resourceListItem {
  @mixin content-padding;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  height: 40px;
  line-height: 40px;
  transition: opacity 3.5s 3.5s;
  overflow: hidden;
  display: flex;
  opacity: 1;
  align-items: center;
  position: static;
  background: #fff;

  @media screen and (width >= $md-screen) {
    padding: 0;
  }

  &.resourceListItem-enter,
  &.resourceListItem-leave {
    will-change: opacity;
  }

  &.resourceListItem-enter,
  &.resourceListItem-appear {
    opacity: 0.01;
    position: absolute;

    ~ .resourceListItem {
      will-change: transform;
      transition: transform 7s;
      transform: translateY(0);
    }
  }


  &.resourceListItem-enter.resourceListItem-enter-active,
  &.resourceListItem-appear.resourceListItem-appear-active,
  &.resourceListItem-leave {
    opacity: 1;

    ~ .resourceListItem {
      transform: translateY(40px);
    }
  }

  &.resourceListItem-leave {
    transition-delay: 0s;
  }

  &.resourceListItem-leave.resourceListItem-leave-active {
    opacity: 0.01;
    position: absolute;

    ~ .resourceListItem {
      will-change: transform;
      transition: transform 7s;
      transform: translateY(0);
    }
  }

  &:first-child {
    border-top: 1px solid #eee;
  }
}

.resourceListItem_btn {
  color: inherit;

  &:active,
  &:hover {
    color: inherit;
  }
}

.resourceListItem-primaryBtn {
  color: #29aeff;
  font-size: 15px;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
}

.resourceListItem-deleteBtn {
  font-size: 15px;
  color: #b5b5b5;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    color: #888;
  }

  &:active,
  &:focus {
    outline: none;
    color: #555;
  }

  @media screen and (width >= $md-screen) {
    margin-right: 0;
  }

  &[disabled] {
    color: #dfdfdf;
    cursor: not-allowed;
  }
}
