* {
  box-sizing: border-box;
}

html {
  // This keeps the scrollbar from appearing and disappearing as the user
  // navigates between pages – it's always around.
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  // This is the size of the header
  padding-top: $headerHeight;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: $appWidth;
  margin: 0 auto;
}

.padded-container {
  @mixin content-padding;
}

.container-bottomSpaced {
  margin-bottom: 40px;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $headerHeight);
}

main {
  flex: 1;
}
