.transactionListItem-btn {
  width: calc(100% - 20px);
}

.transactionListItem-editBtn-container {
  display: flex;
  justify-content: space-between;
}

.transactionListItem-description,
.transactionListItem-date,
.transactionListItem-amount {
  @mixin ellipsis;
  width: 33%;
  font-size: 16px;
}

.transactionListItem-description {
  text-align: left;
}

.transactionListItem-date {
  text-align: center;
}

.transactionListItem-amount {
  text-align: right;
}

.transactionListItem-deleteBtn {
  width: 20px;
  text-align: right;
}
