ellipsis()
  overflow hidden
  white-space no-wrap
  text-overflow ellipsis

primary-gradient-fill()
  color #c7236c
  background radial-gradient(circle at top right, #f5582e, #8000d4)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

// `$width` must be a predefined variable defined in `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-to($s-screen-max)`
respond-to($width)
  if $lg-screen is $width
    media = 'all and (min-width: %s)' % $width
    @media media
      {block}
  else
    media = 'all and (max-width: %s)' % $width
    @media media
      {block}

// `$width` must be a predefined variable defined in `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-from($l-screen-min)`
respond-from($width)
  media = 'all and (min-width: %s)' % $width
  @media media
    {block}

// `$width` must be a predefined variable defined in `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-as($l-screen)`
respond-as($width)
  if $width is $l-screen
    media = 'all and (min-width: %s)' % $l-screen-min
    @media media
      {block}
  if $width is $m-screen
    media = '(min-width: %s) and (max-width: %s)' % ($m-screen-min $m-screen-max)
    @media media
      {block}
  if $width is $s-screen
    media = 'all and (max-width: %s)' % $s-screen-max
    @media media
      {block}
