// This fixes an issue where `nib` fails to properly set vendor prefixes
// when `display: flex` is used in conjunction with a block mixin. For more,
// reference these issues:
// https://github.com/tj/nib/issues/312
// https://github.com/tj/nib/issues/291
flex-version = flex
support-for-ie = false
vendor-prefixes = official
