// These should only be variables used in items in the `common` pod or across multiple pods.
// Pod-specific variables should go in a variables file in that pod.

// This is the width of the ".container" element. All content in the app,
// aside from borders, will be contrained to this width.
$appWidth = 800px
// This is padding that is visible on small desktop-sized screens. It prevents
// the app's content from smooshing against the side of the browser window.
$appPadding = 20px

$rootFontSize = 15px
$textColor = #000
$lightTextColor = #aaa
$linkColor = #71afcf

$borderColor = #e7e7e7

// Responsive values. Pass these into the `respond-as()` mixin
// to target the different screen sizes.
$l-screen = __LARGE_SCREEN__
$m-screen = __MEDIUM_SCREEN__
$s-screen = __SMALL_SCREEN__

// These values are used in the media queries outputted by the `respond-as()`
// mixin.
$l-screen-min = 1024px
$m-screen-max = $l-screen-min - 1px
$m-screen-min = 768px
$s-screen-max = $m-screen-min - 1px
