.transaction
  display flex
  border-style solid
  border-color #e4e4e4
  border-width 0
  border-bottom-width 1px
  margin-bottom 10px 0
  padding 10px 1px 10px 5px

  &:first-child
    border-top-width 1px

  .transaction-form
    .transaction-description
      ellipsis()
      width 120px

    .transaction-date
      width 70px

    .transaction-value
      width 50px

  .save-transaction
    color #4cc1fc

  .delete-transaction
    color #ff6c6c
