{
  "extends": [
    "../.eslintrc",
    "../node_modules/pleaserc/.eslintrc-test",
    "./setup/.globals.json"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-unused-expressions": 0,
    "max-nested-callbacks": "off",
    "no-invalid-this": "off",
    "import/default": "off",
    "prefer-arrow-callback": "off",
    "max-len": "off",
    "no-empty-function": "off",
    "import/named": "off",
    // This is for the string syntax provided by pg-promise used in integration
    // tests.
    "no-template-curly-in-string": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
