{
  "extends": "./setup/.globals.json",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-unused-expressions": 0,
    "max-nested-callbacks": "off",
    "no-invalid-this": "off",
    "import/default": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
