.app-header
  position fixed
  width 100%
  background-color #fff
  border-bottom 1px solid #e4e4e4
  z-index 100

  > .container
    height 40px
    padding 0 8px
    display flex
    justify-content flex-end

  .create-new-transaction
    color #4cc1fc
    border 0
    background #fff
    font-size 16px
    transition color .25s

    &[disabled]
      color #c7c7c7
