.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: block;
}

.modal {
  border-radius: 6px;
  background: #fff;
  min-width: 150px;
  min-height: 50px;
  max-width: 85%;
  // When the header doesn't span the full width, then all of the whitespace
  // around it makes the top appear visually to have more padding than it does
  padding: 22px 27px 27px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 20vh;

  .modal-title {
    font-size: 17px;
    font-weight: normal;
    padding: 0;
    margin: 0 0 15px;
    text-align: center;
  }

  .modal-form-invalid {
    .modal-title {
      margin-bottom: 6px;
    }
  }

  .modal-error {
    text-align: center;
    margin-bottom: 13px;
  }
}
