.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zIndex-overlay;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: opacity 70ms ease-in;
  background-color: rgba(17, 6, 36, 0.43);
  opacity: 1;
}

.modalTransition-enter,
.modalTransition-appear {
  opacity: 0;
}

.modalTransition-enter.modalTransition-enter-active,
.modalTransition-appear.modalTransition-appear-active,
.modalTransition-leave {
  opacity: 1;
}

.modalTransition-leave,
.modalTransition-leave.modalTransition-leave-active {
  opacity: 0;
}

.modalTransition-enter .modal,
.modalTransition-appear .modal {
  transform: scale(0.94);
  opacity: 0;
}

.modalTransition-enter.modalTransition-enter-active .modal,
.modalTransition-appear.modalTransition-appear-active .modal,
.modalTransition-leave .modal {
  opacity: 1;
  transition: transform 100ms ease-out, opacity 100ms ease-out;
}

.modalTransition-enter.modalTransition-enter-active .modal,
.modalTransition-appear.modalTransition-appear-active .modal {
  transform: scale(1.02);
}

.modalTransition-leave .modal {
  transform: scale(1);
}

.modalTransition-leave.modalTransition-leave-active .modal {
  transform: scale(0.88);
  opacity: 0;
}

.modal {
  border-radius: 6px;
  background: #fff;
  min-width: 150px;
  min-height: 50px;
  max-width: 85%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);

  transition: transform 70ms ease-in, opacity 70ms ease-in;
  transform: scale(1);
  opacity: 1;

  .modal-container {
    width: 320px;
  }

  .modal-title {
    font-size: 17px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;

    + .modal-footer {
      position: relative;
      top: -1px;
    }
  }

  .modal-body {
    padding: 15px;
  }

  .modal-error {
    text-align: center;
    margin-bottom: 8px;
  }

  .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 10px;
    }
  }
}
