{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "./node_modules/pleaserc/.eslintrc"
  ],
  "rules": {
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
