// Load up the responsive stylus mixins package:
// https://github.com/jmeas/responsive-stylus-mixins
@import '../../node_modules/responsive-stylus-mixins'
@import '../../node_modules/js-emoji/demo/emoji.css'

// The "./stylus" directory is for files that need to be either be loaded in a
// specific order, or need to be loaded before the rest of the app.
// Files that can be loaded in any order, and are scoped to a particular piece
// of the application, should be placed into a pod. Shared "common" stylus
// can be found in `./client-src/common/stylus`
@import './variables'
@import './mixins'
@import './reset'
@import './hamburger-icon'

// Import all deeply nested stylus files.
// Warning: using `**/*` would duplicate the above
// entries (stylus doesn't dedupe). This weird glob
// ensures that we don't pull in those same files again
@import '../!(stylus)/**/*'
