// Import "prenib" and nib. "prenib" fixes some issues
// with nib. For more info, see the comments in that file.
@import './prenib';
@import 'nib/index';

// The "./stylus" directory is for files that need to be either be loaded in a
// specific order, or need to be loaded before the rest of the app.
// Files that can be loaded in any order, and are scoped to a particular piece
// of the application, should be placed into a pod.
@import './variables';
@import './mixins';
@import './reset'
@import './scaffolding'
@import './typography'
@import './subheader'
@import './forms'
@import './buttons'

// Import all deeply nested stylus files.
// Warning: using `**/*` would duplicate the above
// entries (stylus doesn't dedupe). This weird glob
// ensures that we don't pull in those same files again
@import '../!(stylus)/**/*'
