ellipsis()
  overflow hidden
  white-space no-wrap
  text-overflow ellipsis

content-padding()
  padding 0 15px

gradient-fill($one, $two)
  background radial-gradient(circle at top right, $one, $two)

primary-gradient-fill()
  // This is used as a fallback for older browsers (I'm using this
  // mixin for backgrounds and gradient text – that needs to change)
  color #c7236c
  gradient-fill(#f5582e, #8000d4)

clip-bg-to-text()
  -webkit-background-clip text
  -webkit-text-fill-color transparent

noselect()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

placeholder-color($color)
  &::-webkit-input-placeholder
     color $color

  &:-moz-placeholder /* Firefox 18- */
     color $color

  &::-moz-placeholder  /* Firefox 19+ */
     color $color

  &:-ms-input-placeholder
     color $color
