ellipsis()
  overflow hidden
  white-space no-wrap
  text-overflow ellipsis

content-padding()
  padding 0 15px

gradient-fill($one, $two)
  background radial-gradient(circle at top right, $one, $two)

primary-gradient-fill()
  // This is used as a fallback for older browsers (I'm using this
  // mixin for backgrounds and gradient text – that needs to change)
  color #c7236c
  gradient-fill(#f5582e, #8000d4)

clip-bg-to-text()
  -webkit-background-clip text
  -webkit-text-fill-color transparent

noselect()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

placeholder-color($color)
  &::-webkit-input-placeholder
     color $color

  &:-moz-placeholder /* Firefox 18- */
     color $color

  &::-moz-placeholder  /* Firefox 19+ */
     color $color

  &:-ms-input-placeholder
     color $color

// `$width` should be a predefined variable defined in `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-below($md-screen)`
respond-below($width)
  $width = $width - 1
  media = 'all and (max-width: %s)' % $width
  @media media
    {block}

// `$width` should be a predefined variable defined in `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-above($md-screen)`
respond-above($width)
  media = 'all and (min-width: %s)' % $width
  @media media
    {block}

// The `$x-width` args should be a predefined variable defined in
// `variables.styl`.
// This is a block mixin. To use it, prefix it with `+`. i.e.:
// `+respond-between($md-screen, $lg-screen)`
respond-between($min-width, $max-width)
  $max-width = $max-width - 1
  media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width)
  @media media
    {block}
