*
  box-sizing border-box

html, body
  margin 0
  padding 0

body
  // 45px is the size of the header
  padding-top 46px
  min-height 100vh

.container
  max-width $appWidth
  margin 0 auto
  padding 0 10px

  +respond-from($m-screen-min)
    padding 0 20px

.content-container
  display flex
  flex-direction column
  // 45px for the fixed position header
  min-height calc(100vh - 46px)
  padding-top 0
  transition padding 0.25s

// When the alert is visible, we scoot down the content container
// so that they don't overlap with one another.
.alert-enter,
.alert-appear,
.alert-leave.alert-leave-active
  & + .content-container
    padding-top 0

.alert,
.alert-enter.alert-enter-active,
.alert-appear.alert-appear-active,
.alert-leave
  & + .content-container
    padding-top 48px

main
  margin-bottom 40px
  flex 1
