footer
  width 100%
  background-color #fff
  height 46px
  line-height 46px
  padding 0 10px
  border-top 1px solid #e4e4e4

  +respond-from($m-screen-min)
    padding 0 20px

  > .container
    height 49px
    padding 0 8px
    line-height 49px

  ul
    display flex

    li
      flex 1
      text-align center

    a
      text-decoration none
      color #aaa

      &.active
        color #4cc1fc
