footer
  position fixed
  bottom 0
  left 0
  width 100%
  background-color #fff
  height 46px
  line-height 46px
  border-top 1px solid #e4e4e4

  > .container
    height 49px
    padding 0 8px
    line-height 49px

  ul
    display flex

    li
      flex 1
      text-align center
