.profile
  margin-top 27px

  .profile-form-row
    content-padding()
    margin-bottom 30px
    display flex
    flex-direction column
    max-width 600px

  .profile-label
    margin-bottom 10px
    font-size 17px
    color #868686
    display inline-block
    max-width 400px

  .photo-input
    display flex
    align-content center

  .profile-photo
    width 70px
    height 70px
    border-radius 50%
    margin-right 15px
    cursor pointer

  .change-photo-text
    font-size 15px

  .resource-list-profile-icon
    margin-right 15px
    width 21px
