.mobile-nav
  primary-gradient-fill()
  position fixed
  // The main nav has z-index 10000
  z-index 20000
  top 46px
  left 0
  right 0
  -webkit-backdrop-filter blur(2px)
  height 0
  overflow hidden
  transition height 0.3s ease-in

  &.visible
    height calc(100vh - 45px)

  .main-nav
    margin 0 25px

    li
      padding 10px 0
      border-bottom 1px solid rgba(255, 255, 255, 0.2)

    a
      color #fff
      text-decoration none
      font-size 20px
      padding 5px 5px
      transition color 0.05s

      &:hover
        color #fff
