.landingPage_heroTextContainer {
  padding-top: 80px;
  background-image: linear-gradient(-134deg, #3023ae 0%, #c96dd8 100%);
  height: calc(100vh - $headerHeight - $footerHeight);
  text-align: center;

  @media screen and (width >= $md-screen) {
    height: calc(100vh - $headerHeight - $expandedFooterHeight);
  }
}

.landingPage-heroText {
  font-size: 25px;
  color: #fff;
  margin-bottom: 40px;
}
