header
  position fixed
  top 0
  right 0
  left 0
  z-index 1000
  height 46px
  background-color #fafafa
  border-bottom 1px solid #eeeeee

  > .container
    display flex
    align-items center
    height 100%
    // There's less padding to the right because the profile image is a
    // circle, so it appears to the eye to be further inset than it really is.
    padding 0 20px

    +respond-below($md-screen)
      padding 0 15px

  a
    text-decoration none
    font-size 16px
    color #a1a1a1

    &:hover
      color #888

    &:active
      color #666

  .app-logo
    display none
    margin 0
    margin-right 24px
    padding 0
    font-weight bold

    a
      primary-gradient-fill()
      clip-bg-to-text()
      font-size 21px


    +respond-above($md-screen)
      display block

  .mobile-menu-toggle
    primary-gradient-fill()
    clip-bg-to-text()

    +respond-above($md-screen)
      display none

  .main-nav
    display none

    +respond-above($md-screen)
      display block

  .main-nav-list
    display flex

    li
      margin-right 27px

      &:last-child
        margin 0

    a.active
      color #c7236c

  .header-profile-container
    margin-left auto

  .header-profile-link
    display flex
    align-items center

  .header-name
    ellipsis()
    max-width 150px
    margin-right 10px

  .header-profile-pic
    width 31px
    height 31px
    border-radius 50%
    border 2px solid #fff
    background-size cover
    background-image url('http://lh3.googleusercontent.com/-SFoxuA-9BgQ/AAAAAAAAAAI/AAAAAAAAAAA/ADhl2yoCgd6de7jfz57PsSkdK0WUHJH1IQ/s64-c-mo/photo.jpg')
