.category-list-item
  display flex
  height 35px
  border-bottom 1px solid #eee

  .category-list-item-emoji,
  .category-list-item-label,
  .delete-category
    height 35px
    line-height 35px

  .category-list-item-emoji
    margin-right 15px
    width 50px
    flex 0

  .category-list-item-label
    margin-right 15px
    flex 1

  .delete-category
    width 50px
    flex 0
