.categoryListItem {
  display: flex;
  border-bottom: 1px solid #eee;
}

.categoryListItem-labelBtn {
  cursor: pointer;
  min-width: 0;
}

.categoryListItem-labelBtn-container {
  display: flex;
}

.categoryListItem-emoji {
  font-size: 20px;
  // There's 15px of space between the emoji and the text. The space
  // is divided evenly between the emoji and the text, with a 3px margin
  // 6px + 6px + 3px = 15px
  padding-right: 6px;
  margin-right: 3px;
  min-width: 40px;
  text-align: center;
  display: inline-block;

  @media screen and (width >= $md-screen) {
    padding-left: 0;
  }
}

.categoryListItem-label {
  @mixin ellipsis;
  // There's 15px of space between the emoji and the text. The space
  // is divided evenly between the emoji and the text, with a 3px margin
  // 6px + 6px + 3px = 15px
  padding: 0 6px;
  margin-right: 15px;
  flex-grow: 1;
  // Overriding `text-align: center;` inherited from user agent stylesheets
  text-align: left;
}
