.category-list-item
  display flex
  border-bottom 1px solid #eee

  .category-list-item-label-btn
    cursor pointer

  .category-list-item-emoji
    font-size 20px
    // There's 15px of space between the emoji and the text. The space
    // is divided evenly between the emoji and the text, with a 3px margin
    // 6px + 6px + 3px = 15px
    padding-right 6px
    margin-right 3px
    width 40px
    min-width 40px
    text-align center
    display inline-block

    +respond-above($md-screen)
      padding-left 0

  .category-list-item-label
    ellipsis()
    // There's 15px of space between the emoji and the text. The space
    // is divided evenly between the emoji and the text, with a 3px margin
    // 6px + 6px + 3px = 15px
    padding 0 6px
    margin-right 15px
