{
  "extends": [
    "../.eslintrc",
    "../node_modules/pleaserc/.eslintrc-server"
  ],
  "globals": {
    "Promise": true,
  },
  "rules": {
    "strict": ["error", "global"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "node": true
  }
}
