// This mixin is only used here, so we inline it.
@define-mixin base-text-input {
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(200, 200, 200, 0.4);
  padding: 0 10px;
  width: 100%;

  &:focus {
    box-shadow: none;
  }

  @media screen and (width < $md-screen) {
    // At least 16px is needed to prevent Safari from auto-zooming
    font-size: 16px;
  }
}

.text-input {
  @mixin base-text-input;
  height: 34px;
}

.textarea-input {
  @mixin base-text-input;
  padding: 7px 10px;

  // HTML5 validation isn't that great, but just in case I want to use
  // it, the style here supports it. In most cases I'll use `.invalid-input`
  // with JS validation.
  &:invalid,
  &.invalid-input {
    @mixin placeholder-color #f2afaf;
    border-color: #cc9f9f;
    background-color: #fffafa;
    box-shadow: 0 0 4px 0 rgba(255, 97, 97, 0.3);
  }
}

.form-row {
  margin-bottom: 20px;
  display: flex;

  &:last-child {
    margin: 0;
  }

  > .btn {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-error {
  font-size: 16px;
  color: #c71818;
}
