.resource-list-item {
  @mixin content-padding;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  height: 40px;
  line-height: 40px;
  transition height: 0.25s, opacity 0.25s;
  overflow: hidden;
  display: flex;
  opacity: 1;
  align-items: center;

  @media screen and (width >= $md-screen) {
    padding: 0;
  }

  &.resource-list-item-enter,
  &.resource-list-item-leave.resource-list-item-leave-active {
    height: 0;
  }

  &.resource-list-item-leave.resource-list-item-leave-active {
    opacity: 0;
  }

  &.resource-list-item-enter.resource-list-item-enter-active,
  &.resource-list-item-leave {
    height: 40px;
  }

  &:first-child {
    border-top: 1px solid #eee;
  }
}

.resource-list-item-delete {
  font-size: 15px;
  color: #b5b5b5;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    color: #888;
  }

  &:active,
  &:focus {
    outline: none;
    color: #555;
  }

  @media screen and (width >= $md-screen) {
    margin-right: 0;
  }

  &[disabled] {
    color: #dfdfdf;
  }
}
