.resourceListItem {
  @mixin content-padding;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  height: 40px;
  line-height: 40px;
  transition: height 0.25s, opacity 0.25s;
  overflow: hidden;
  display: flex;
  opacity: 1;
  align-items: center;

  @media screen and (width >= $md-screen) {
    padding: 0;
  }

  &.alert-enter,
  &.alert-leave {
    will-change: opacity, height;
  }

  &.resourceListItem-enter,
  &.resourceListItem-appear {
    opacity: 0.01;
    height: 0;
  }

  &.resourceListItem-enter.resourceListItem-enter-active,
  &.resourceListItem-appear.resourceListItem-appear-active,
  &.resourceListItem-leave {
    opacity: 1;
    height: 40px;
  }

  &.resourceListItem-leave.resourceListItem-leave-active {
    opacity: 0.01;
    height: 0;
  }

  &:first-child {
    border-top: 1px solid #eee;
  }
}

.resourceListItem-deleteBtn {
  font-size: 15px;
  color: #b5b5b5;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    color: #888;
  }

  &:active,
  &:focus {
    outline: none;
    color: #555;
  }

  @media screen and (width >= $md-screen) {
    margin-right: 0;
  }

  &[disabled] {
    color: #dfdfdf;
  }
}
