.modifyCategoryModal-container {
  width: 320px;
}

.createCategoryModal {
  .createCategoryModal-emojiSelect {
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #fafafa;
    }
  }

  .newCategoryName {
    flex: 1;
    // This ensures that the input doesn't force the emoji-select to be
    // smaller than it needs to be
    min-width: 0;
  }
}
