<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Finance App</title>
    <meta name="description" content="Track your finances.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> livereload}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
