.datePicker_input {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAaCAYAAACtv5zzAAAABGdBTUEAALGPC/xhBQAAAZNJREFUSA3tVrFKxEAQvV1TS1KksPAXVCwEESSg4B9ECwsRkoDl1ZZaW1kkaRSvkPyBIATb62xTqAeCZYKlnpt7kyKscYPEJMWBA8O+nd19s5mZ3Q0bSJLnOQuCQCOT67pTxlguDSthFEULaZpywzCEbdtf1UlcNoRhuI3+BynwjjxWh7Mse6D5aO9Vc745UE1oa2NE4Pv+EpoDhGQFYToiG/AN8BPhX+QY48vQF875FdaMHce5w3pB6xhCsS+EGAEXsSdjB/KIHK6TEw6PQxB2SU77W8XG9wiQgw0CXQt2X/D2nuTeHZSxxye9IkyTNqFCuGnDmzKH7OAa5XUqDzbFcRxrSZJ8yut6D9H8OyhzIMetDuOmXUMx6IrxCfL3rLA3PsEXuFasKhHuoHPYlAUy/zn4/4Jqvn/0G5Wpruu7pmkWr6DMZFmWQJnKphI3cqD6ayiZagA5eIcu4ia08DZTPf9ZcNGVRYPzQrwDDSdzBPIT6Bb6pF3IFCS3RERP5hnaS2jhkYxtBBse42Qfep73RjwztDN+oGV3Wi0AAAAASUVORK5CYII=') right 8px center no-repeat;
  background-size: 13px 13px;
  cursor: default;
}

.datePicker_pikaday {
  margin-top: 5px;
  border-radius: 4px;

  .pika-lendar {
    width: 280px;
    margin: 0;
    padding: 0;
  }

  .pika-label {
    font-weight: normal;
    color: #333;
    border-radius: 3px;

    &:hover {
      background-color: #e8f4fe;
    }
  }

  .pika-prev,
  .pika-next {
    opacity: 0.3;
  }

  .pika-prev {
    margin-left: 8px;
  }

  .pika-next {
    margin-right: 8px;
  }

  .pika-title {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0 7px;
  }

  th {
    line-height: 35px;
    border-bottom: 1px solid #e9e9e9;
  }

  abbr {
    font-weight: normal;
    text-decoration: none;
    cursor: default;
    color: #737373;
  }

  .is-selected .pika-button {
    border-radius: 2px;
    background: #29aeff;

    &:hover {
      background: #29aeff;
      color: #fff;
    }
  }

  .pika-button {
    line-height: 20px;

    &:hover {
      color: inherit;
      border-radius: 2px;
      background: #e0e0e0;
    }
  }
}
