.account {
  .account-form-row {
    @mixin content-padding;
    margin-bottom: 30px;
    max-width: 600px;
  }

  .account-label {
    margin-bottom: 10px;
    font-size: 17px;
    color: #868686;
    display: block;
    max-width: 400px;
  }

  .account-field-container {
    display: flex;
    align-items: center;
  }

  .account_textInput {
    flex: 1;
    margin-right: 10px;
  }

  .resource-list-account-icon {
    margin-right: 15px;
    width: 21px;
  }

  .account_loadingIndicatorContainer {
    display: inline-block;
    width: 25px;
  }

  .account_loadingIndicator {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 2px;
  }
}
