.alert {
  overflow: hidden;
  max-width: 80vw;
  line-height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 20000;
  width: 300px;
  margin: 0 auto;

  &.alert-enter,
  &.alert-appear {
    opacity: 0.01;
    transform: scale(0.92);
  }

  &.alert-enter.alert-enter-active,
  &.alert-appear.alert-appear-active,
  &.alert-leave {
    opacity: 1;
    transform: scale(1);
  }

  &.alert-leave.alert-leave-active {
    transition: opacity 0.2s, transform 0.2s;
    transition-timing-function: ease;
    opacity: 0.01;
    transform: scale(0.85);
  }

  &.alert-appear.alert-appear-active,
  &.alert-enter.alert-enter-active {
    transition: opacity 0.25s, transform 0.15s;
    transition-timing-function: cubic-bezier(0.1, 0.23, 0.71, 1.65);
  }

  &.alert-warning {
    background: radial-gradient(circle at top right, #ffa648, #ff7f1b);
  }

  &.alert-danger {
    background: radial-gradient(circle at top right, #f06565, #f43636);
  }

  &.alert-success {
    background: radial-gradient(circle at top right, #a6d659, #37b645);
  }

  &.alert-info {
    background: radial-gradient(circle at top right, #36c7f4, #6593f0);
  }

  .alert-title {
    flex: 1;
    padding: 0 15px;
    font-weight: bold;
  }

  &.dismissable-alert .alert-text {
    // The left padding is so large to account for the space taken up
    // by the `dismiss` icon.
    padding-left: 37px;
  }

  .alert-dismiss {
    color: #fff;
    margin: 0 15px 0 auto;
  }
}
