.alert
  display none
  position fixed
  top 40px
  left 0
  height 40px
  width 100%
  padding 0 15px
  line-height 40px
  background-color #f3dfdf
  border-bottom 1px solid #ebb0b0
  color #c15e5e

  &.visible
    display block
    opacity 1
