.btn
  primary-gradient-fill()
  display inline-block
  font-size 15px
  font-weight 500
  line-height 29px
  height 31px
  text-align center
  white-space nowrap
  vertical-align middle
  cursor pointer
  user-select none
  border 0
  border-radius 6px
  padding 0 13px
  color #fff
  opacity 1
  transition opacity 0.25s

  &[disabled]
    opacity 0.35

  &.btn-line
    color #C7236C
    background-color transparent
    border-color #C7236C

    &:hover
      background-color #f9f9f9
      border-color #C7236C

    &:active
      background-color #eeeeee
      border-color #C7236C
