.btn
  primary-gradient-fill()
  noselect()
  font-family 'Source Sans Pro', sans-serif
  display inline-block
  font-size 16px
  font-weight 500
  line-height 29px
  height 31px
  text-align center
  white-space nowrap
  vertical-align middle
  cursor pointer
  user-select none
  border 0
  border-radius 6px
  padding 0 13px
  color #fff
  opacity 1
  transition opacity 0.25s

  &[disabled]
    opacity 0.35
    cursor not-allowed

  &:focus
    outline none
    box-shadow 0 0 0 1px #fff, 0 0 0 3px rgba(193, 156, 160, 0.5);

  &:hover
    gradient-fill(#e75131, #7a00cb)

  &:active
    gradient-fill(#de4d30, #7500c3)

  &.btn-success
    gradient-fill(#a6d659, #37b645)

    &:hover
      gradient-fill(#9acb54, #34ae42)

    &:active
      gradient-fill(#94c351, #32a73f)

  &.btn-info
    gradient-fill(#36c7f4, #6593f0)

    &:hover
      gradient-fill(#35bdea, #618de6)

    &:active
      gradient-fill(#34b4e0, #5d87dd)

  &.btn-danger
    gradient-fill(#ff5200, #e01e1e)

    &:hover
      gradient-fill(#f44c01, #d71c1c)

    &:active
      gradient-fill(#ea4801, #cf1b1b)

  &.btn-warning
    gradient-fill(#ffa648, #ff7f1b)

    &:hover
      gradient-fill(#f59c42, #f57a18)

    &:active
      gradient-fill(#eb963f, #eb7517)

  &.btn-line
    color #a0a0a0
    background transparent
    border 1px solid #b6b6b6

    &:hover
      background-color #f9f9f9

    &:active
      background-color #f1f1f1
