ul
  margin 0
  padding 0
  list-style none

button
  background transparent
  border none

// Resets the cursor
html,
body
	cursor default

code
	cursor text

a,
label,
button, 
input[type="radio"],
input[type="submit"],
input[type="checkbox"]
	cursor pointer

button[disabled],
input[disabled]
	cursor default
