.resource-list
  margin 0
  padding 0
  max-width 800px

  +respond-above($md-screen)
    margin-left auto
    margin-right auto
    padding 0 20px

// Resource list items have a top border. The subheader has a bottom border.
// This rule makes it so that when the subheader and resource list are
// visually next to one another, their borders overlap so as not to produce
// a double-border effect.
main > .resource-list:first-child,
main > .resource-list-container:first-child
  margin-top -1px
