.resource-list
  background #fff
  margin 0
  padding 0

// Resource list items have a top border. The subheader has a bottom border.
// This rule makes it so that when the subheader and resource list are
// visually next to one another, their borders overlap so as not to produce
// a double-border effect.
main > .resource-list:first-child,
main > .resource-list-container:first-child
  margin-top -1px
