html, body
  margin 0
  padding 0

.container
  max-width $appWidth
  margin 0 auto

main
  // 40px is the size of the header
  padding-top 40px
  margin-bottom 20px
  padding-bottom 20px
  border-bottom 1px solid #dedede
  // Temporary code to test scrolling behavior on mobile
  min-height 750px
