*
  box-sizing border-box

html, body
  margin 0
  padding 0

html.noscroll
  position fixed
  overflow-y scroll
  width 100%

body
  // 45px is the size of the header
  padding-top 46px
  min-height 100vh
  overflow-x hidden

.container
  max-width $appWidth
  margin 0 auto

.padded-container
  content-padding()

.content-container
  display flex
  flex-direction column
  // 45px for the fixed position header
  min-height calc(100vh - 46px)
  padding-top 0
  transition padding 0.25s

// When the alert is visible, we scoot down the content container
// so that they don't overlap with one another.
.alert-enter,
.alert-appear,
.alert-leave.alert-leave-active
  & + .content-container
    padding-top 0

.alert,
.alert-enter.alert-enter-active,
.alert-appear.alert-appear-active,
.alert-leave
  +respond-below($md-screen)
    & + .content-container
      padding-top 48px

main
  margin-bottom 40px
  flex 1
