*
  box-sizing border-box

html, body
  margin 0
  padding 0

.container
  max-width $appWidth
  margin 0 auto
  padding 0 10px

  +respond-from($m-screen-min)
    padding 0 20px

main
  // 45px is the size of the header
  // 50px is the size of the subheader
  // Together, that's 95px. Add an additional 20px
  // margin to get 115px
  padding-top 115px
  margin-bottom 20px
  padding-bottom 20px
  // Temporary code to test scrolling behavior on mobile
  min-height 1050px
