.sub-header
  width 100%
  background-color #fff
  border-bottom 1px solid #eee
  margin-bottom 15px

  // Subheaders are for pages with text, but also pages that are just lists,
  // like Categories. When they're on pages that are just lists, we don't
  // want any space between this and the list.
  &.list-header
    margin-bottom 0

  > .container
    content-padding()
    height 50px
    display flex
    align-items center

  .subheader-title
    color $linkColor
    font-size 19px
    margin 0
    padding 0

  .subheader-action
    margin-left auto
