.contact-page
  .contact-submit-row
    display flex
    justify-content flex-end

  .contact-submit-btn
    width 95px

  .contact-page-error
    display none
    text-align center

    &.visible
      display block
